<head>
	<link rel="stylesheet" type="text/css" href="materialize/css/materialize.css">
</head>
<body>
	<nav class = "cyan">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">G-mapster</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
      </ul>
    </div>
  </nav>
</body>