<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/maps.css">
</head>
<body>
<header>
	<% include ../partials/navbar %>
	<a href="/logout">Logout</a>
</header>
<!-- location -->
	<input id="pac-input" class="controls" type="text"
        placeholder="Enter a location">
    <div id="type-selector" class="controls">
      <input type="radio" name="type" id="changetype-all" checked="checked">
      <label for="changetype-all">All</label>

      <input type="radio" name="type" id="changetype-establishment">
      <label for="changetype-establishment">Establishments</label>
      
      <input type="radio" name="type" id="changetype-address">
      <label for="changetype-address">Addresses</label>

      <input type="radio" name="type" id="changetype-geocode">
      <label for="changetype-geocode">Geocodes</label>
    </div>
    <!-- end location -->

    <!-- directions -->
    <input id="origin-input" class="controls" type="text"
        placeholder="Enter an origin location">

    <input id="destination-input" class="controls" type="text"
        placeholder="Enter a destination location">

    <div id="mode-selector" class="controls">
      <input type="radio" name="type" id="changemode-walking" checked="checked">
      <label for="changemode-walking">Walking</label>

      <input type="radio" name="type" id="changemode-transit">
      <label for="changemode-transit">Transit</label>

      <input type="radio" name="type" id="changemode-driving">
      <label for="changemode-driving">Driving</label>
    </div>
    <!-- end directions -->
    <div class = "row">
	    <div id="map" class = "col s8"></div>
	    <div id = "list" class = "col s3">
	    	<ul>
	    	</ul>
	    </div>
  	</div>
	<input class = "cyan" type = "file" id = "pushbtn">
</body>
	<script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
	<script type="text/javascript" src = "js/autocomplete.js"></script>
	<script type="text/javascript">
		var config = {
		    apiKey: "AIzaSyDqcidTNKiWrY_n2rl-J8xpoLBetUY0IiM",
		    authDomain: "g-mapster-1482049698790.firebaseapp.com",
		    databaseURL: "https://g-mapster-1482049698790.firebaseio.com",
		    storageBucket: "g-mapster-1482049698790.appspot.com",
		    messagingSenderId: "392450380738"
		};

		firebase.initializeApp(config);

		//Get the upload button
		const filebutton = document.querySelector('#pushbtn');
		filebutton.addEventListener('change', function(e){
			//Get the file
			console.log('button clicked for file upload');
				var file = e.target.files[0];
			//Create storage refernce for it
				var storageRef = firebase.storage().ref('g-mapster/' + file.name );
			//Upload
				var task = storageRef.put(file);
				task.on('state_changed',
					function progress(s){
						var upload = s.bytesTransferred/s.totalBytes;
						console.log(upload);
						if(upload == 1){
							var downloadURL = task.h.downloadURLs[0];
							console.log(downloadURL);
							saveGarbagePlace(downloadURL);
						}
					}
				);
		});

		// Save the coordinates

		function saveGarbagePlace(imageURL){
			if(navigator.geolocation){
				navigator.geolocation.getCurrentPosition(function(position){
					console.log(position);
					firebase.database().ref('/').push({
						latitude : position.coords.latitude,
						longitude : position.coords.longitude,
						imageURL : imageURL
					});
					console.log('inserted');
					markTheMap(position);
				});
			}
			else
				alert('Your device doesnt support geolocation');
		}

		// Mark the map

		function markTheMap(position){
			console.log('markTheMap map');
			var map = new google.maps.Map(document.getElementById('map'), {
	          	zoom: 4,
	          	center: { lat : position.coords.latitude-5, lng : position.coords.longitude-5 }
        	});
        	var ref = firebase.database().ref('/');
        	ref.orderByChild('latitude').on('child_added', function(snapshot){
		        console.log(snapshot.val().latitude);
		        console.log(snapshot.val().longitude);
		        var location = { lat : snapshot.val().latitude, lng : snapshot.val().longitude };
		        placeMarker(location, map);
		      });
		}

		function placeMarker(location, map){
			var marker = new google.maps.Marker({
		        position: location,
		        map: map,
		        icon : 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
		        title : 'Hello World!'
	        });
		}

		function initMap(){
			if(navigator.geolocation){
				navigator.geolocation.getCurrentPosition(function(position){
				var map = new google.maps.Map(document.getElementById('map'), {
		          	zoom: 4,
		          	center: { lat : position.coords.latitude-5, lng : position.coords.longitude-5 }
	        	});
	        	var ref = firebase.database().ref('/');
		        var list = document.querySelector('#list ul');
	        	ref.orderByChild('latitude').on('child_added', function(snapshot){
			        // console.log(snapshot.val().latitude);
			        // console.log(snapshot.val().longitude);
			        console.log(snapshot.val());
			        var li = document.createElement('li');
			        li.innerHTML = '<li class = "card-panel">' + '<h6>Latitude : ' + snapshot.val().latitude + '<br>' + 'Longitude : ' + snapshot.val().longitude + '<br>' + '<br>' +'<a href ='  + snapshot.val().imageURL + '>' + 'See the image' + '</a>' + '</h6></li>';
			        list.appendChild(li);
			        var location = { lat : snapshot.val().latitude, lng : snapshot.val().longitude };
			        placeMarker(location, map);
				});
		 		new AutocompleteDirectionsHandler(map);
			});
		}
	}

	</script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqcidTNKiWrY_n2rl-J8xpoLBetUY0IiM&libraries=places&callback=initMap">
    </script>
</html>