<!DOCTYPE html>
<html>
<head>
	<title>G-mapster</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="materialize/css/materialize.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<header>
	<nav class = "cyan">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">G-mapster</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
      </ul>
    </div>
  </nav>
</header>
<div>
</div>
</body>
<!-- <script src = "js/index.js"></script> -->
</html>