<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
<% include ./navbar %>
<div class = "container">
	<form action = "/login" method = "post">
		<input type="email" name="email" placeholder = "Email">
		<input type="password" name = "password" placeholder = "Password">
		<input type="submit" name="submit" class = "btn cyan">
	</form>
</div>
</body>
</html>