<!DOCTYPE html>
<html>
<head>
	<title>User panel</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/user.css">
	<!-- // <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script> -->
</head>
<body>
	<main>
		<button class = "btn-floating btn-large waves-effect waves-light cyan z-depth-4" id = "uploadbtnvisible" name = "uploadbtn"><i class = "material-icons">publish</i></button>
		<input type = "file" id = "uploadbtn">
		<label for = "uploadbtnvisible" class = "card-panel z-depth-2">Upload</label>
		<progress value="0" max="100" id = "uploader">Uploader</progress>
	</main>
</body>
<script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
<script type="text/javascript" src = "js/test.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqcidTNKiWrY_n2rl-J8xpoLBetUY0IiM&libraries=places"></script>
<script type="text/javascript">
	window.onload = alert('this is test alert.');
</script>
<!-- <script type="text/javascript" src = "js/googlemaps.js"></script> -->
<!-- <script type="text/javascript" src = "js/autocomplete.js"></script> -->
</html>